@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
     font-family: 'Lato', sans-serif;
}

.offset::before {
    height: 54px;
    margin-top: -54px;
    content: "";
    display: block;
}
 
.navbar{
       padding: .1rem;

}

.navbar-collapse .nav-link{
    margin-right: 40px;
}
.navbar img {
    margin: -35px 0 -20px 0;
    height: 105px;
    margin-left: 70px;
    width: 190px;
       
}
    .navbar-collapse .nav-link{
        font-size: 19px;
    }

    .carousel-item {
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #080d15;
    opacity: .1;
}

.carousel-caption {

    top: 38%;
    text-transform: uppercase;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.carousel-caption h1 {

    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4.8px;
     padding-bottom: 14px;
    text-align: center;
}

.carousel-caption h3 {
    font-size: 32px;
    text-shadow: 4px 4px 10px black;
    padding-bottom: 20px;

}

 

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: 10px;
    font-size: 20px;
}
 .nav{
     position: absolute;
 }

 .narrow {
    width: 75%;
    margin: 30px auto;}
 
    .narrow .btn-secondary{
border-radius: 15px;
}
.narrow h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(52, 58, 64);
    font-weight: bold;
     position: relative;
    margin-bottom: 70px;

}
.narrow h1::after{   
    position: absolute;
    content:"";
    width: 50%;
    height: 3px;
    background-color: rgb(17, 197, 18);
    margin: 40px auto;
    display: block;
    right:0;
    left: 0;
       }

  
     
#button1, #button2{
    border-radius: 15px;

}
.narrow p {
    font-size: 25px;
    color: #000000;
}

#work .btn{
margin:20px;
}
 
.btn-md {
    border-width: medium;
    border-radius: 0;
    padding: 10px 18px;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.jumbotron {
    padding: 0;
    border-radius: 0;
    margin-bottom: 0;
    margin-top: 0;
}

h3.heading {
    font-size: 50px;
    text-transform: uppercase;
    padding: 35px;
    color: rgb(52, 58, 64);
    font-weight: bold;
 
}

.heading-underline {
    width: 40%;
    height: 3px;
    background-color: rgb(17, 197, 18);
    margin: 0 auto;
}

.portfolio img {
    max-width: 100%;
    transition: transform .5s ease;
    height: 350px;
     width: 450px;
}

.row.no-padding [class*=col-] {
    padding: 0;

}

.portfolio img:hover {
    transform: scale(1.1);
    cursor: zoom-in;

}

.portfolio {
    overflow: hidden;
}

.card {
    margin: 50px;
}

#contact {
    background: #40474e;
    color: white;
    padding: 20px 0 48px;
    margin-top: 30px;
}

#contact img {
    height: 90px;
    margin: 5px 0;

}

#contact a {
    color: white;
    margin: 10px;

}

hr.socket {
    border-top: 2px solid rgb(17, 197, 18);
    width: 100%;
}

#contact p {
    padding-bottom: 15px;

}

#contact svg.svg-inline--fa {
    font-size: 25px;
}

@media  (max-width:762px) 
    { 
        .navbar img {
            padding-top: 5px;
            height: 80px;
             margin-left: 30px;
             width: 115px;
             
        }
        .navbar-dark .navbar-toggler-icon{
            width: .7em;
    height: .7em;
         }
         .navbar-dark .navbar-toggler{
             margin-right: 16px;
         }       
 

    .carousel-caption h1 {
        font-size: 35px;
        letter-spacing: 2.5px;
        padding-bottom: 8px;
    }

    .carousel-caption h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .btn .btn-lg {
        font-size: 18px;
    }

    .narrow h1 {
        font-size: 20px;
    }

    p.lead {
        font-size: 18px;
    }
    
}

/*
        .carousel-item::before {
            content: "";
            position: absolute;
            background-image: linear-gradient(to right bottom, #ff1a2e94,#ce125bc7,#8b2e67a8,
            #4d335294, #be1e7682);
            top: 0;
            right: 0;
            left:0;
            bottom:0;}
  */