
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
 @import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
 @import url('https://fonts.googleapis.com/css?family=Roboto');



body
{
    background-color:rgb(12, 44, 89);
}

 #text ul li 
    {margin-top: 40px;
    margin-left: 45px;
    position: absolute;
     text-align: center;
    font-size: 24px;
    font-family: 'Inconsolata';
    line-height: 1.0;
     text-decoration: none;
    text-decoration-style: none;
    list-style-type: none; }
    
#text ul li a{
text-decoration-style: none;
color: whitesmoke;
text-decoration: none;
}

#text ul li a:hover{
    color: red;
}
 
.card.card{
     position: absolute; 
     right:560px;
     top: 200px;
         border:transparent ;
     background-color: rgb(6, 27, 56);
     text-align: center;
     box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    
  }
 
  .card.card img{
    transform: rotate(90deg);
    border-radius: 5px;
    filter: grayscale(100%);

  }

  .card .card-text{
      margin:10px;
  }
    
     

h3,p{
    position: relative;
    color:rgb(255, 255, 255);
     line-height: 1.5;

}
.profile {
    position: relative;
font-family: 'Roboto' ;
 }
.profile h3{
    position: fixed;
     bottom: 1%;
    font-size: 14px;
    right:46%;}
 

      .profile p{  
     position: relative;
    left:5%;
    text-transform: uppercase;
    letter-spacing: 7px;
    
}
.bg--box{
    width: 40%;
    position: fixed;
    height: 100vh;
    background-color: #F7F6F5;
    opacity: .03;
    top: 0;
    right: 0;
    z-index: -1;
     
    
}


 .main-nav{
    box-sizing: border-box;

 }
 
.main-nav ul{
   
    height: 100%;
    position: fixed;
    top:0;
    right:0;
    border-left: 1px solid;
    border-color: rgba(247,246,245,0.1);
     margin-block-end: 0; 

       
}

.main-nav ul li{
    height: 70%;
    padding-top: 51px;
    padding-right: 20px;
    padding-left: 0;
    padding-bottom:51px;
    font-style: 'Inconsolata';

    }

nav.main-nav ul li a{
    color: #fff;
    font-style: 'Inconsolata';

}

nav.main-nav ul li a:hover{
        color: rgb(251, 61, 85);
                }

nav.main-nav ul a:hover{
    text-decoration: none;
}

.media ul {
 
position: absolute;
transform:translate(-53%, -50%);
 top: 60%;
left: 5%;
  
    } 

    .media ul li{
padding: 20%;
list-style: none;
margin: 0 60px;
display: flex;
font-size: 25px;
 
}
.media ul li a{
position: fixed;
    color: #fff;
     overflow: hidden;
}


.media ul li a:hover{
     opacity: 0.5;}

     
.container{
    text-align: center;
     top:60px;
    left:640px;
    transform: translate(-50%,-50%);
    width: 45%;
    position: absolute;
 
 }

.container span{
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
     width:12;
 
}
.text1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    letter-spacing: 8px;
    padding: 1px;
     animation: text 2s 1;
     background: transparent;
     font-size: 10px;
     position: relative;

 } 
.text2{
  font-size: 30px;
  display: block;

}
@keyframes text{
    30%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    10%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

a .far{
    color: #F7F6F5;
}
a .far:hover{
    opacity: 0.5;
}

@media  (max-width:762px) 
{
    
    #text ul li a{
        font-size: 15px;
        margin-left: -51px;
        display: block;
        margin-top: 5px;
    }
 
    .container {
            left: 250px ;
        font-size: 20px  }
  
        .container.text1,.text2 {        
            font-size: 20px;}
    .home-link  {
        margin-top: 60px;
        font-size: 15px;
        margin-left: -60px; }
    .profile h3{
        text-align: center;
        width:auto;

    }    
    .profile p{
        font-size: small;
    }    
    .media ul li {
     padding: 30px;
    list-style: none;
    display: flex;
    font-size: 17px;
    }
    .card.card{
        right: 157px;
        top: 221px;
    
    }
    .profile h3{
        position: none;
    }
    .media ul {
        position: absolute;
        transform: translate(-53%, -50%);
        top:280px;
        left: 5%;}

}
 


@media (min-width: 768px) and (max-width: 979px) {
    
            .card.card{
            position: absolute;
            right: 286px;
            top: 216px;
           }
    }

    




 